@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!--
<button class="btn btn-primary" onclick="Download">Download List</button>-->

<a href="/Admin/Blog/ExportStaticExcelBlogList">Download List</a>

<!--
<script>
    function Download() {
        wind.open("/Admin/Blog/ExportStaticExcelBlogList");
    }
</script>
    -->
