@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>bfkjgnb</h1>
<br />
<button type="button" id="btnGetList" class="btn btn-outline-primary">Writer List</button>
<br />
<div id="writerList">
    
</div>

