@using CoreDemo.Models
@model RoleViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <div class="form-group">
        <label>Role</label>
        <input asp-for="@Model.Name" class="form-control" />
    </div>
    <div as-validation-summary="ModeOnly">

    </div>
    <button class="btn btn-info">Save</button>
</form>